@import "utilities/variable.scss";
@import "utilities/breakpoints.scss";
@import "utilities/fonts.scss";
@import "utilities/button.scss";
@import "utilities/modal.scss";
@import "template/login.scss";
@import "template/signup.scss";
@import "template/editprofile.scss";


body {
    background-color: $--clr-dark-grey;
}

// Form controls

.form-control:focus {
    background-color: $--clr-dark-grey;
    color: $--clr-white;
    border: 1px solid $--clr-lavendar;
    box-shadow: 0px 0px 16px 3px $--clr-lavendar;
    -webkit-box-shadow: 0px 0px 16px 3px $--clr-lavendar;
    -moz-box-shadow: 0px 0px 16px 3px $--clr-lavendar;
}

.form-control::placeholder {
    color: $--clr-white;
}

.form-control:-webkit-autofill {
    background-color: $--clr-grey !important;
    color: $--clr-white !important;
    border: 1px solid #ccc !important;
}

.form-control:-webkit-autofill:focus {
    background-color: $--clr-grey !important;
    color: $--clr-white !important;
    border: 1px solid #ccc !important;
}

label {
    color: $--clr-white;
    font-weight: 600;
}

// Photo cards

.card {
    border: 1px solid $--clr-lavendar
}

.card-body {
    background-color: $--clr-dark-grey;
}